@font-face {
    font-family: 'open sans';
    src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: 'open sans-bold';
    src: url('fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'open sans-semibold';
  src: url('fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'open sans-light';
    src: url('fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'open sans-light';
}

.content {
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.content h1 {
    font-family: 'open sans-semibold';
    font-style: normal;
    padding-bottom: 0vw;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 4vw;
    color: #033296;
    
}

.content h2 {
    text-align: center;
    color: #033296;
    font-family: 'open sans-semibold';
    font-size: 3vw;
    margin-bottom: 1vw;
    margin-top: 0px;
}

.content h3 {
    text-align: center;
    color: BLACK;
    font-family: 'open sans-light';
    font-size: 2vw;
    margin-top: 1vw;
}

.filler {
    height: 6vw;
}

.content img {
    margin-right: 20vw;
    
}

.left {
    width: 47%;
    margin-bottom: 9vw;
    text-align: center;
    float: left;
}
.right {
    width: 47%;
    margin-bottom: 9vw;
    text-align: center;
    float: right;
}