@font-face {
font-family: 'General Sans-Semibold';
src: url('fonts/GeneralSans-Semibold.woff2') format('woff2'),
     url('fonts/GeneralSans-Semibold.woff') format('woff'),
     url('fonts/GeneralSans-Semibold.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'General Sans-Semibold';
  text-decoration: none;
}

header{
  position: static;
  top: 0; left: 0; right: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo img{
  width: 100%;
}

header .navbar ul{
  list-style: none;
}

header .navbar ul li{
  position: relative;
  float: left;
}


header .navbar ul li a{
  display: block;
  font-size: 18px;
  color: #000000;
  padding: 20px;
}

header .navbar ul li a:hover{
  background: #033296;
  color: #FFFFFF;
}

header .navbar ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #FFFFFF;
  display: none;
}

header .navbar ul li ul li{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}

header .navbar ul li:hover ul{
  display: initial;
}

#menu-bar{
  display: none;
}

header label{
  font-size: 18px;
  color: #000000;
  display: none;
  cursor: pointer;
}

@media (max-width:1370px) {
  header{
    padding: 1% 15%;
    text-align: center;
    position: fixed;

  }

  header .logo img{
    width: 80%;
  }

  header label{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .1);
    display: none;

  }

  header .navbar ul li{
    width: 100%;
  }

  header .navbar ul li ul{
    position: relative;
    width: 100%;
    display: block;
  }

  header .navbar ul li ul li{
    background: #eee;
  }

  header .navbar ul li ul li{
    width: 100%;
    left: 0;
  }
  
  #menu-bar:checked ~ .navbar{
    display: initial;
  }




}